body {
  background-color: black;
  overflow-x: hidden;

}

.video-container {
  /* height: 90vh; */
  /* border: 2px solid red; */
  /* background-color: black; */
  padding: 0;
  margin: 0;
}

#main-video {
  width: 100%;
}

#navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100vw;
  /* z-index: 1; */
}
.about{
  /* border: 12px solid red; */
}